@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding: 105px;

}


.containeer {
  width:90%;
  max-width: 1120px;
  margin: 0 auto;
}

.uk-child-width-1-3\@m>* {
  width: 220px !important;
  height : 330px !important;
}

img {
  height: 100% !important;
}


.uk-dotnav>.uk-active>* {
  background-color: #093816;
  border-color: #093816;
}


.uk-dotnav li a {
  background-color: #093816 !important;
  border-color: #093816 !important;
}

.uk-dotnav li.uk-active a {
  background-color: #119D22 !important;
  border-color: #119D22 !important;
}

#divisor {
  width: 200px;
  height: 10px;
  background-color: #093816 !important;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}


.uk-grid>*{
  padding-left: 0px important;
}

.uk-slider-items svg {
  color: red;
}


#menu {
  display: hidden !important;
  transition: all 0.5s ease;
}

#menu.active {
  display: flex;
  width: 100%;
}




.container {
  width: 100%;
}
@media (max-width: 360px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
  }
}
@media (min-width: 1120px) {
  .container {
    max-width: 1120px;
  }
}
